/* copied from .tagchecklist span a */
.go-oc-ignore {
	margin: 6px 0pt 0pt -9px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
}

.go-oc-taglist {
	margin-left: 14px;
	font-size: 12px;
	overflow: auto;
}

.go-oc-taglist span {
	margin-right: 25px;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.8em;
	white-space: nowrap;
	cursor: default;
}

.go-oc-use {
	cursor: pointer;
}

.go-oc-refresh {
	float: right;
	font-size: 9px;
}

.go-oc-ignored-list > span > .go-oc-ignore {
	display: none;
}
